.btn-group {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  box-sizing: border-box;

  &__btn {
    --bg: var(--bg);
    --color: var(--text);

    &:hover {
      --bg: var(--bg-contrast-1);
    }

    &_checked {
      --color: var(--bg-primary);
    }
  }

  &__input {
    width: 0;
    height: 0;
    pointer-events: none;
    margin: 0px;
    display: block;
  }

  &__label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    
    box-sizing: border-box;
    background-color: var(--bg);
    border: 1px solid var(--color);
    color: var(--color);
    border-radius: .5rem;
    text-align: center;
    padding: .75rem 1.5rem;
  }


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  &__icon {
    animation: spin 1s linear infinite;
    margin-left: .5rem;
  }

}