.input-number {
    --bg: #3B82F6;
    border-radius: 999px;
    display: inline-flex;
    max-width: 100%;

    &_block {
        width: 100%;
    }

    &, & * {
        box-sizing: border-box;
    }

    &__input {
        outline: none;
        border-left: none;
        border-right: none;
        border-top: 1px solid var(--bg);
        border-bottom: 1px solid var(--bg);
        padding: .5rem;
        line-height: 1rem;
        flex: 1;
        min-width: 1px;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            appearance: none;
        }
    }

    &__button {
        border: none;
        outline: none;
        background: var(--bg);
        color: white;
        border: 1px solid var(--bg);
        height: calc(2rem + 2px);
        padding: 0px .5rem;
        cursor: pointer;
        flex: none;

        &_left {
            border-top-left-radius: .25em;
            border-bottom-left-radius: .25em;
        }
        &_right {
            border-top-right-radius: .25em;
            border-bottom-right-radius: .25em;  
        }
    }

    
}