.operation-full {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: start;

    &__title {
        font-size: 2rem;
    }

    &__type {
        font-size: .875rem;
    }

    &__date {
        font-size: .875rem;
    }

    &__button {
        flex: none;
    }
}