.cart-item {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 100%;

    &__row {
        display: flex;
        gap: 1.25rem;
        align-items: center;
    }

    &__image {
        aspect-ratio: 1;
        object-fit: cover;
        background: #ececec;
        width: 10rem;
        flex: none;
        border-radius: .25rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex: 1;
    }

    &__title {
        color: #475569;
        font-size: 1.25rem;
        line-height: 1.75rem;
        flex: 1;
    }

    &__description {
        color: #475569;
        font-size: .75rem;
        line-height: 1rem;
        flex: 1;
    }

    &__action {
        flex: initial;
        display: flex;
        align-items: center;
        gap: 1rem;
        max-width: 20rem;
    }

    &__sum {
        color: #1E293B;
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 600;
        display: flex;
        justify-content: end;
        overflow: hidden;
        flex: auto;
        min-width: 100px;
    }

    &__remove {
        border: none;
        cursor: pointer;
        background: none;
        color: var(--text-light);
    }
}
    
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}