.theme {
  --bg: black;
  --text: white;
  --text-light: rgb(151, 151, 151);

  --bg-contrast-1: rgb(37, 37, 37);
  --bg-contrast-2: rgb(61, 61, 61);
  
  --bg-primary: #3B82F6;
  --text-primary: #ffffff;

  --text-error: #ff6c6c;

  --bg-primary-contrast-1: #93C5FD;

  color: var(--text);
  background: var(--bg);
  min-height: var(--100vh, 100vh);
}