.cart-total {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;

  &__sum {
    font-weight: 800;
    font-size: 1.5rem;
  }

  &__add-order {

  }
}