.button-icon {
  background: none;
  border: none;
  --color: white;
  --focus-color: var(--bg-primary);
  --shadow: 0px 0px 5px rgba(0, 0, 0, 0.068);
  padding: .5rem 1rem;
  border-radius: .5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: color .2s;
  text-decoration: none;
  display: block;
  font-size: .75rem;
  line-height: 1;
  text-align: center;

  &_color {
    &-white {
      --color: black;
      --focus-color: var(--bg-primary);
      --shadow: 0px 0px 5px rgba(0, 0, 0, 0.068);
    }

    &-black {
      --color: white;
      --focus-color: var(--bg-primary);
      --shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.356);
    }
  }

  &:hover, &:focus {
    --color: var(--focus-color);
  }

  color: var(--color);

  &__icon {
    margin-bottom: .25rem;
    color: var(--color);
  }
}