.product-card {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 23.5rem;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    position: relative;

    &_loading {
        --color: transparent;
        --bg: #eee;
        cursor: default;
    }

    &__image {
        aspect-ratio: 16/9;
        object-fit: cover;
        background: #ececec;
    }

    &__title {
        min-height: 1.75rem;
        color: var(--color, #475569);
        background: var(--bg);
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    &__description {
        min-height: 1rem;
        color: var(--color, #1D4ED8);
        background: var(--bg);
        font-size: .875rem;
        line-height: 1rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    &__add-to-card {
        align-self: flex-end;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }

    &__edit-button {
        position: absolute;
        top: 0;
        right: 0;
        opacity: .3;
        transition: opacity .2s, filter .2s;
        filter: grayscale(1);

        &:hover {
            opacity: 1;
            filter: grayscale(0);
        }
    }
}
    
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}