.logo {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 15rem;
    height: 5rem;
    text-align: center;
    padding: .75rem 0px;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: .95;
    user-select: none;
}