.button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: none;
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    line-height: 1rem;
    padding: .5rem 1.5rem;
    background: #3B82F6;
    color: white;
}
